# Phase 1: 21/09/21
  [x] It should have a proper HTMl5 boilerplate
  [x] The title should show 'Welcome to GoTravel'
  [x] It should have a section for the navigation bar
  [x] It should have a banner section to show a large image
  [x] It should have a section for the main content
  [x] It should have a section for the footer

  Navbar:
  [x] It should have a title of 'GoTravel', and clickable 
  [x] It should have at least 5 nav links
  [x] It should have a button 'Book now!' (anchor tag as the button)

  Banner:
  [x] It should have a h1 text for the title
  [x] It should have a p tag that describes GoTravel shortly
  [x] It should have an email address form for newsletter

  Main content:
  [x] It should have an explanation of: hotel, plane ticket, and travel accomodation
  [x] It should show top 3 picks from the users
  [x] It should show 3 ratings from the users

  Footer:
  [x] Show Copyright text
  [x] Show 6 footer links
  [x] Show social media icon

# Phase 2 24/09/21
#WORKING ON THE NAVBAR
  Navbar:
  [x] Modify the links to just have 4 links

  CSS-Navbar:
  [x] Search for theme color, make it to global variabel
  [x] Search for fonts (Lato)
  [x] Setup fontawesome

  [x] Use flexbox to align items nicely
  [x] Style your own way!
  [x] Use favicon to add the logo

# Phase 3 01/10/21
# WORKING ON THE BANNER
  [x] The banner should show an Image that fills the whole width
  [x] The banner content should be placed at the very center of the image
  [x] The h1 text should be big enough
  [x] The form should be stylised to a decent view
  [x] The button should be stylised following the global button style
  [x] Fix the container overlapping issue
  [x] Make the container background to be transparent