/* making pull-side animation */
@keyframes pull-side {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  /* finish */
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
