/* For device with width 480px */
@media screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
  }

  h2 {
    color: var(--Navy);
  }

  .content-padding {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  /* HEADER SECTION STYLE STARTS HERE */
  .header .nav-container {
    background: var(--White);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
  }

  .header .nav-links {
    display: none;
  }

  .header .logo {
    text-decoration: none;
    font-size: 1.375rem;
    color: var(--Orange);
    padding: 1.7rem 1rem;
  }
  /* HEADER SECTION STYLE ENDS HERE */
  /*********************************************/
  /* BANNER SECTION STYLE STARTS HERE */
  .banner {
    background-image: url('../Images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 39.0625rem;
    width: 100%;
    margin-top: 0.08625rem;
  }

  .banner .container {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    position: relative;
    top: 12%;
    padding: 1.875rem;
    background-color: rgba(255, 255, 255, 0.68);
  }

  .banner .container h1 {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--Navy);
    margin-bottom: 1.5rem;
  }

  .banner .container #email {
    width: 75%;
    height: 1.5625rem;
    padding: 0.625rem;
    font-size: 1rem;
  }

  .banner .container .subscription {
    margin-top: 1rem;
  }

  .banner .container .subscription p {
    margin-bottom: 1rem;
  }

  .banner .container .btn-submit {
    cursor: pointer;
    font-size: 1rem;
  }
  /* BANNER SECTION STYLE ENDS HERE */
  /*********************************************/
  /* MAIN CONTENT SECTION STYLE STARTS HERE */
  .main-content .about {
    padding-top: 3.8125rem;
    background-color: var(--White);
  }

  .main-content .about .about-content {
    width: 100%;
  }

  .main-content .about h2 {
    text-transform: capitalize;
    letter-spacing: 2.5px;
    font-size: 2rem;
    text-align: center;
  }

  .main-content .about .about-content .about-image {
    background-image: url('../Images/gotravel-group.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 15.0625rem;
    margin: 1rem;
  }

  .main-content .about p {
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding: 0.625rem;
  }

  /* VISION SECTION */
  .main-content .vision {
    padding-top: 7.8125rem;
    padding-bottom: 7.8125rem;
    background-color: var(--White);
  }

  .main-content .vision h2 {
    text-transform: capitalize;
    letter-spacing: 2.5px;
    font-size: 2rem;
    text-align: center;
  }

  .main-content .vision p {
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding: 0.625rem;
  }
  .main-content .vision .vision-content {
    width: 100%;
  }

  .main-content .vision .vision-content .vision-image {
    background-image: url('../Images/vision.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 15.0625rem;
    margin: 1rem;
  }

  /* MAIN CONTENT SECTION STYLE ENDS HERE */
  /*********************************************/
  /* SERVICE INTRO SECTION STYLE STARTS HERE */
  .main-content .service-intro {
    margin-top: 5.8125rem;
  }

  .main-content .service-intro .intro-items:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .main-content .service-intro h2 {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 2.5px;
    margin-bottom: 2.075rem;
  }

  .main-content .service-intro h3 {
    color: var(--Navy);
  }

  .main-content .service-intro h3 {
    margin-bottom: 0.5rem;
  }

  .main-content .service-intro i {
    font-size: 2.5rem;
    color: var(--Navy);
  }
  /* SERVICE INTRO SECTION STYLE ENDS HERE */
  /*********************************************/
  /* TOP PICKS SECTION STYLE STARTS HERE */
  .main-content .top-picks {
    margin-top: 5.8125rem;
  }

  .main-content .top-picks .card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-content: center;
    flex-wrap: wrap;
  }

  .main-content .top-picks .card .card-items {
    width: 15.625rem;
    height: 27.75rem;
    background-color: var(--White);
    overflow: hidden;
    border-radius: 7px;
    transition: all ease-in-out 0.25s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .main-content .top-picks .card .card-items {
    margin-bottom: 1.875rem;
  }

  .main-content .top-picks .card .card-items a {
    text-decoration: none;
  }

  .main-content .top-picks .card .card-items img {
    background-position: center;
    background-repeat: no-repeat;
    height: 12.5rem;
    width: inherit; /* Make the width the same as the card container width */
  }

  .main-content .top-picks .card .card-items .description {
    padding: 1.25rem;
    text-align: left;
    color: var(--Navy);
  }

  .main-content .top-picks h2,
  .main-content .top-picks h3 {
    color: var(--Navy);
    letter-spacing: 1.5px;
  }

  .main-content .top-picks h2 {
    margin-bottom: 2.075rem;
  }

  .main-content .top-picks h3 {
    margin-bottom: 0.5rem;
  }
  /* TOP PICKS SECTION STYLE ENDS HERE */
  /*********************************************/
  /* RATINGS SECTION STYLE STARTS HERE */
  .ratings {
    margin-top: 5.8125rem;
  }

  .ratings h2 {
    margin-bottom: 2.075rem;
  }

  .ratings .ratings-layout {
    display: flex;
    flex-direction: column;
  }

  .ratings .ratings-layout .ratings-item {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    padding: 1.5625rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .ratings .ratings-layout .ratings-item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .ratings .ratings-layout .avatar {
    height: inherit; /* The height will inherit the rating item container. So, it looks like a block at the left side */
  }

  .ratings .ratings-layout .avatar img {
    width: 6.25rem;
    height: 6.25rem;
  }

  .ratings .ratings-layout .ratings-item .rating-body {
    /* margin-left: 1.25rem; */
    width: 100%;
    text-align: justify;
  }

  .ratings .ratings-layout .ratings-item .rating-body .rating-head {
    border-bottom: 3px solid var(--Lightgray);
    padding-bottom: 0.625rem;
  }

  .ratings .ratings-layout .ratings-item .rating-body .rating-head h3 {
    text-transform: capitalize;
    color: var(--Navy);
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }

  .ratings
    .ratings-layout
    .ratings-item
    .rating-body
    .rating-head
    .rating-info {
    font-size: 0.6875rem;
    color: gray;
  }

  .ratings
    .ratings-layout
    .ratings-item
    .rating-body
    .rating-head
    .rating-info
    i {
    color: var(--Orange);
  }

  .ratings .ratings-layout .ratings-item .rating-body .rating-content {
    margin-top: 0.625rem;
  }
  /* RATINGS SECTION STYLE ENDS HERE */
  /*********************************************/
  /* PARTNERS SECTION STYLE STARTS HERE */
  .partners {
    margin-top: 1rem;
    padding-top: 5.8125rem;
    background-color: var(--White);
  }

  .partners h2 {
    margin-bottom: 2.075rem;
  }

  .partners .partners-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partners .partners-content img {
    width: 12.5rem;
    height: 11.25rem;
    border-radius: 10px;
  }

  .partners .partners-content img:not(:last-child) {
    margin-bottom: 1.875rem;
  }
  /* PARTNERS SECTION STYLE ENDS HERE */
  /*********************************************/
  /* CONTACT SECTION STYLE STARTS HERE */
  .contact {
    padding-top: 5.8125rem;
    padding-bottom: 5.8125rem;
    text-align: center;
    background-color: var(--White);
  }

  .contact h2 {
    margin-bottom: 2.075rem;
  }

  .contact .contact-content h3 {
    margin-bottom: 0.9375rem;
  }
  /* CONTACT SECTION STYLE ENDS HERE */
  /*********************************************/
  /* FOOTER SECTION STYLE STARTS HERE */
  .footer {
    /* margin-top: 5.8125rem; */
    background-color: var(--Navy);
    min-height: 25vh;
    padding: 3.125rem 3.125rem 0.625rem 3.125rem;
  }

  .footer a,
  .footer p {
    color: var(--Lightgray);
    text-decoration: none;
  }

  .footer a i {
    font-size: 2rem;
  }

  .footer .socials {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
  }

  .footer .footer-links a {
    font-size: 1.2rem;
  }

  .footer .footer-links a {
    display: block;
  }

  .footer .footer-links a {
    margin-bottom: 1.5rem;
  }

  .footer .copyright {
    margin-top: 3rem;
    font-size: 1.2rem;
  }
  /* FOOTER SECTION STYLE ENDS HERE */
  /*********************************************/
  /* INDEX STYLE ENDS HERE */

  /*********************************************/
  /* BOOKING PAGE STYLE STARTS HERE */
  .booking-page {
    /* height: 75.5625rem; */
    /* height: 85.5625rem; */
    position: relative;
  }

  .booking-page::after {
    /* I use this trick to make the background image more transparent*/
    content: '';
    background-image: url('../Images/repeating-bg.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .booking-form {
    margin: 5.08625rem auto 5.08625rem auto;
  }

  .booking-form .container {
    margin: 0 auto;
    max-width: 48.0625rem;
    position: relative;
    top: 15%;
    padding: 1.875rem;
    background-color: rgba(255, 255, 255, 0.78);
  }

  .booking-form .container-header {
    text-align: center;
    text-transform: capitalize;
  }

  .booking-form .container-header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .booking-form .container-progress {
    margin-top: 1rem;
  }

  .booking-form .container-progress .step1,
  .booking-form .container-progress .step2,
  .booking-form .container-progress .step3 {
    display: none;
  }

  .booking-form .container-progress .step-mobile {
    text-align: center;
    display: inline-block;
    width: 33%;
    margin: 0;
    border-radius: 20px;
  }

  .booking-form .container-progress p {
    color: white;
    background-color: var(--Orange);
    padding: 0.5rem;
  }

  .booking-form form {
    text-align: left;
  }

  .booking-form form p {
    font-weight: bold;
    margin-top: 1.5625rem;
    margin-bottom: 0.5375rem;
    text-align: left;
  }

  .booking-form form input[type='text'],
  .booking-form form input[type='email'],
  .booking-form form input[type='date'],
  .booking-form form input[type='tel'],
  .booking-form form select {
    width: 90%;
    height: 1.875rem;
    margin-bottom: 1.25rem;
    padding: 0.1875rem;
    font-family: 'Lato', sans-serif;
    text-align: left;
  }

  .booking-form form input[type='radio'] {
    cursor: pointer;
  }

  .booking-form form input[type='number'] {
    width: 20%;
    height: 1.875rem;
    margin-bottom: 1.25rem;
    padding: 0.1875rem;
    font-family: 'Lato', sans-serif;
  }

  .booking-form form input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
    margin-right: 0.3125rem;
  }

  .booking-form form textarea {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.2px;
  }

  .booking-form form .radio-input {
    margin-bottom: 2.8125rem;
    text-align: left;
  }

  .booking-form form input[type='file'] {
    margin-bottom: 2.8125rem;
  }

  .booking-form .next-button {
    background-color: var(--Orange);
    padding: 0.625rem;
    margin-top: 1.25rem;
    color: var(--White);
    text-decoration: none;
    border: 1px solid var(--Orange);
    border-radius: 20px;
    display: inline-block;
    transition: all ease-in 0.22s;
    cursor: pointer;
  }

  .booking-form .next-button:hover {
    background-color: var(--White);
    color: var(--Orange);
  }

  .booking-form form .flight-input {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
  }

  .booking-form form .travel-packages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .booking-form form .travel-packages .package-item {
    width: 60%;
    /* min-height: 45vh; */
    background-color: var(--Lightgray);
    border: 1px solid var(--Navy);
    border-radius: 0.625rem;
    padding: 1.25rem;
    text-align: center;
    margin-bottom: 1.25rem;
  }

  .booking-form form .travel-packages .package-item label {
    cursor: pointer;
  }

  .booking-form form .travel-packages .package-item p {
    text-align: left;
    margin: 0;
    font-size: 0.9rem;
  }

  .booking-form form .travel-packages .package-description {
    margin-top: 1.5625rem;
  }

  .booking-form .container .booking-details {
    text-align: center;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
  }

  .booking-form .container table {
    border-collapse: collapse;
    width: 100%;
  }

  .booking-form .container table td,
  .booking-form .container table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.5rem;
  }

  .booking-form .container table tr:nth-child(even) {
    background-color: #dddddd;
  }

  .booking-form .container .booking-caption p {
    width: 85%;
    text-align: left;
  }

  .booking-form .container .finish-button {
    margin-top: 6.25rem;
    display: block;
    text-align: center;
  }

  .booking-page .finish {
    margin: 0 auto;
    height: 100vh;
    padding: 3.125rem;
  }

  .booking-page .finish-container {
    text-align: center;
  }
  /* BOOKING PAGE STYLE ENDS HERE */

  .careers,
  .contact-page,
  .support {
    padding-top: 3.8125rem;
    padding-bottom: 7.8125rem;
    background-color: var(--White);
  }

  .contact-page h3,
  .contact-page h2 {
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .careers {
    overflow-x: auto;
  }

  .careers h2 {
    margin-bottom: 5.8125rem;
  }

  .careers table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
  }

  .careers table tr:nth-child(odd) {
    background-color: var(--Lightgray);
  }

  .careers table th {
    background-color: var(--Navy);
    font-weight: lighter;
    color: var(--White);
  }

  .careers table th,
  .careers table td {
    border: 1px solid var(--Black);
    padding: 0.625rem;
    width: 10rem;
  }

  .apply-button {
    background-color: var(--Orange);
    padding: 0.625rem;
    color: var(--White);
    text-decoration: none;
    border: 1px solid var(--Orange);
    display: inline-block;
    transition: all ease-in 0.22s;
    cursor: pointer;
  }

  .apply-button:hover {
    background-color: var(--White);
    color: var(--Orange);
  }

  .support-content h3 {
    margin-top: 5.8125rem;
  }
}
