@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* GLOBAL */
:root {
  --Black: #000000;
  --Navy: #14213d;
  --Orange: #fca311;
  --Lightgray: #f1f1f1;
  --White: #fff;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--Lightgray);
  box-sizing: border-box;
}

.button {
  background-color: var(--Orange);
  padding: 1rem;
  color: var(--White);
  text-decoration: none;
  border: 1px solid var(--Orange);
  border-radius: 20px;
  display: inline-block;
  margin: 0.9375rem;
  transition: all ease-in 0.22s;
}

.button:hover {
  background-color: var(--White);
  color: var(--Orange);
}

p {
  line-height: 1.5;
  font-size: 1rem;
  color: var(--Black);
  letter-spacing: 0.4px;
}

.content-padding {
  padding-right: 6.25rem;
  padding-left: 6.25rem;
}

/* NAVBAR */
.header .nav-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--White);
  position: fixed;
  z-index: 1; /* If I remove this, the banner container will overlay*/
  top: 0;
  width: 100%;
}

.header .logo {
  text-decoration: none;
  font-size: 1.375rem;
  color: var(--Orange);
  padding: 1.7rem;
}

.nav-links {
  padding: 1.75rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--Navy);
  transition: all ease-in-out 0.2s;
}

.nav-links a:hover {
  color: var(--Orange);
}

/* add margin right except the last element */
.nav-links a:not(:last-child) {
  margin-right: 1.875rem;
}

.banner {
  /* margin-top: 5.625rem; */
  margin-top: 5.08625rem;
}

/* BANNER */
.banner {
  background-image: url('./Images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 39.0625rem;
  width: 100%;
}

.banner .container {
  width: 39.5rem;
  margin: 0 auto;
  position: relative;
  top: 15%;
  padding: 1.875rem;
  background-color: rgba(255, 255, 255, 0.78);
}

.banner .container h1 {
  text-transform: capitalize;
  font-size: 2.1875rem;
  color: var(--Navy);
}

.banner .container #email {
  width: 31.25rem;
  height: 1.5625rem;
  padding: 0.625rem;
  font-size: 1rem;
}

.banner .container .btn-submit {
  display: block;
  margin-left: 0;
  cursor: pointer;
  font-size: 1rem;
}

/* MAIN CONTENT */
.main-content .container {
  background-color: var(--Lightgray);
}

.main-content .container h2 {
  margin-top: 0;
}

.main-content .service-intro {
  text-align: center;
  padding: 7.8125rem 0;
}

.main-content .service-intro .intro-items:not(:last-child) {
  margin-bottom: 2.5rem;
}

.main-content .service-intro h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 2.5px;
}

.main-content .service-intro h2,
.main-content .service-intro h3 {
  color: var(--Navy);
}

.main-content .service-intro i {
  font-size: 2.5rem;
  color: var(--Navy);
  transition: all ease-in-out 0.5s;
}

.main-content .service-intro i:hover {
  font-size: 3.125rem;
}

/* TOP PICKS */
.main-content .top-picks .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-content .top-picks .card .card-items {
  width: 15.625rem;
  height: 28.75rem;
  background-color: var(--White);
  overflow: hidden;
  border-radius: 7px;
  transition: all ease-in-out 0.25s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main-content .top-picks .card .card-items:hover {
  transform: scale(1.05);
}

.main-content .top-picks .card .card-items:not(:last-child) {
  margin-bottom: 1.875rem;
}

.main-content .top-picks .card .card-items a {
  text-decoration: none;
}

.main-content .top-picks .card .card-items img {
  background-position: center;
  background-repeat: no-repeat;
  height: 12.5rem;
  width: inherit; /* Make the width the same as the card container width */
}

.main-content .top-picks .card .card-items .description {
  padding: 20px;
  text-align: justify;
  color: var(--Navy);
}

.main-content .top-picks h2,
.main-content .top-picks h3 {
  color: var(--Navy);
  letter-spacing: 1.5px;
}
