@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* GLOBAL */
:root {
  --Black: #000000;
  --Navy: #14213d;
  --Orange: #fca311;
  --Lightgray: #f1f1f1;
  --White: #fff;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--Lightgray);
  box-sizing: border-box;
}

.button {
  background-color: var(--Orange);
  padding: 1rem;
  color: var(--White);
  text-decoration: none;
  border: 1px solid var(--Orange);
  border-radius: 20px;
  display: inline-block;
  margin: 0.9375rem;
  transition: all ease-in 0.22s;
}

.button:hover {
  background-color: var(--White);
  color: var(--Orange);
}

p {
  line-height: 1.5;
  font-size: 1rem;
  color: var(--Black);
  letter-spacing: 0.4px;
}

/* NAVBAR */
.header .nav-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--White);
  position: fixed;
  z-index: 1; /* If I remove this, the banner container will overlay*/
  top: 0;
  width: 100%;
}

.header .logo {
  text-decoration: none;
  font-size: 1.375rem;
  color: var(--Orange);
  padding: 1.7rem;
}

.nav-links {
  padding: 1.75rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--Navy);
  transition: all ease-in-out 0.2s;
}

.nav-links a:hover {
  color: var(--Orange);
}

/* add margin right except the last element */
.nav-links a:not(:last-child) {
  margin-right: 1.875rem;
}

.banner {
  /* margin-top: 5.625rem; */
  margin-top: 5.08625rem;
}

/* BANNER */
.banner {
  background-image: url('./Images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 39.0625rem;
  width: 100%;
}

.banner .container {
  width: 39.5rem;
  margin: 0 auto;
  position: relative;
  top: 15%;
  padding: 1.875rem;
  background-color: rgba(255, 255, 255, 0.78);
}

.banner .container h1 {
  text-transform: capitalize;
  font-size: 2.1875rem;
  color: var(--Navy);
}

.banner .container #email {
  width: 31.25rem;
  height: 1.5625rem;
  padding: 0.625rem;
  font-size: 1rem;
}

.banner .container .btn-submit {
  display: block;
  margin-left: 0;
  cursor: pointer;
  font-size: 1rem;
}
